-
    const date = new Date();
    const createDate = date.toLocaleDateString() + ' ' + date.toLocaleTimeString('pl-PL', {hour12: false});

    const data = {title:  'Main page'}
    locals = {data, createDate}

//- components
include ./components/head/head

doctype html
html
    head
        +head(data)
    body
        include ./components/header/header
        main.main 
            block content
        include ./components/footer/footer
        script(src="js/app.min.js") 