header.header
  .icon-box
    img.svg-bx-lemon-dims(src="@img/icons/icons.svg#bx-lemon", width="32" alt="bx-lemon")
  .icon-box  
    img.svg-bx-lemon-dims(src="@img/icons/icons.svg#bxl-meta", width="32" alt="bx-lemon")
  .icon-box  
    img.svg-bx-lemon-dims(src="@img/icons/icons.svg#bxs-cable-car", width="32" alt="bxs-cable-car")