@font-face {
	font-family: Roboto;
	font-display: swap;
	src: url("../fonts/Roboto-Bold.woff2") format('woff2'),
		 url("../fonts/Roboto-Bold.woff") format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Roboto;
	font-display: swap;
	src: url("../fonts/Roboto-Medium.woff2") format('woff2'),
		 url("../fonts/Roboto-Medium.woff") format('woff');
	font-weight: 500;
	font-style: normal;
}
