@import 'fonts';
@import 'components/header/header';
@import 'components/hero/hero';
@import '../../node_modules/swiper/swiper-bundle';

.swiper {
    width: 100%;
    height: 500px;
}

body {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
}

h1 {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 900;
    font-style: italic;
}

